html, body, article, section{
    height: 100%;
    margin: 0;
    display: block;
    color: #f8f8ff;
}

body {
    /* background-color: #f8f8ff; */
    background-color: black;
    overflow: hidden;
    font-family: Roboto, Helvetica, sans-serif;
}

.scroll {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll section {
    scroll-snap-align: start;
}

#bio {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.bio.wrapper,.skills.wrapper,.hobbies.wrapper  {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hobbies.wrapper {
    min-height: 94vh;
}

.bio.wrapper2 {
    width: 90%;
    max-width: 1280px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.bio.img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.bio.h2 {
   font-size: 4rem;
   font-weight: 200;
   margin-top: 30px; 
   margin-bottom: 10px;
}  

.bio.fa-brands, .bio.fa-solid {
    margin-left: 10px;
    margin-right: 10px;
    color: #f8f8ff;
}

.skills-fe.fa-brands {
    color: #f8f8ff;
}

/* .bio.wrapper {
    background-color: #242526;
} */

.skills.wrapper {
    background-color: #262626;
}

.hobbies.wrapper {
    background-color: #5c00b0;
}

.skills.wrapper2, .hobbies.wrapper2 {
    max-width: 1000px;
    /* height: calc(100vh - 100px); */
}

.skills.wrapper-head, .hobbies.wrapper-head {
    /* width: 330px; */
    text-align: center;
    font-weight: lighter;
    font-size: xx-large;
}

.skills.wrapper-head h3, .hobbies.wrapper-head h3{
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
}

.skills.wrapper-head hr, .hobbies.wrapper-head hr{
    width: 260px;
    margin-top: 10px;
    margin-bottom: 60px;
}


.skills.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 240px;
    column-gap: 20px;
}

.skills.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* max-width: 40px; */
    border-radius: 5px;
}

.skills.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
    /* grid-column: 2;
    grid-row: 2; */

/* .skills.card.front-end {
    background-color: #1e90ff;

}

.skills.card.back-end {
    background-color: #30ba8f;
}

.skills.card.big-data {
    background-color: #fbab60;
} */

.skills.card  {
    background-color: #7d7d7d;
}

.skills.container {
    padding: 4px 22px;
}

.skills.container h2 {
    font-weight: 200;
    margin: 10px 0px;
}

.icons-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills.icons-wrapper2 {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px;
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
}

.push-up {
    margin-top: 10px;
    margin-bottom: 22px;
}

.skills-be .icon-imgs {
    width: 48px;
    height: 48px;
}

.skills-bd .icon-imgs.bd1 {
    width: 60%;
    height: 60%;
}

.skills-bd .icon-imgs.bd2 {
    width: 80px;
    height: 52px;
}