html, body, article, section{
    height: 100%;
    display: block;
    color: #f8f8ff;
}

body {
    /* background-color: #f8f8ff; */
    background-color: #242526;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.scroll {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll section {
    scroll-snap-align: start;
}

.bio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.bio-wrapper2 {
    width: 90%;
    max-width: 1280px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.bio.h2 {
   font-size:  4rem;
   margin-top: 30px; 
   margin-bottom: 10px;
}  

.fa-brands {
    margin-left: 10px;
    margin-right: 10px;
}